.contentBoxWrapper {
	margin-block: 3vh;
	border-radius: 15px;
	border: 2px solid violet;
}

.boxHeader {
	padding: 5px;
}

.headerIcon {
	background-color: transparent;
	border: none;
	font-size: 20px;
	font-weight: bold;
	margin-inline: 5px;
	width: 20px;
}

.headerText {
	font-size: 20px;
}

.borderBottom {
	border-bottom: 2px solid violet;
}

.boxBody {
	padding: 10px;
	max-height: 500px;
}

.boxBody * {
	margin: 10px;
	font-size: 18px;
}
