.aroundCreateModal {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.createModalWrapper {
    position: absolute;
    margin: auto;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 60vh;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 1001;
}

.createModalHeaderArea {
    width: 100%;
    height: 4vh;
    border-bottom: 2px solid black;
}

.createModalInputArea {
    width: 100%;
    height: auto;
    margin-top: 5%;
}

.inputForAthlete {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputForAthlete input {
    width: 50%;
    margin-bottom: 15px;
}

.inputForAthlete span {
    width: 50%;
}

.inputForSport {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputForSport input {
    width: 50%;
    margin-bottom: 15px;
}

.inputForSport span {
    width: 50%;
}

.inputForTrainingSession {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputForTrainingSession input {
    width: 50%;
    margin-bottom: 15px;
}

.inputForTrainingSession select {
    width: 50%;
    margin-bottom: 15px;
}

.inputForTrainingSession span {
    width: 50%;
}

.createModalHeaderAreaButton {
    /* background: none;
    border: none;
    text-decoration: underline; */
    position: relative;
    top: 15.25vh;
    left: calc(50% - 12vw);
    z-index: 1000;
}

.createModalButtons {
    position: absolute;
    /* width: 100%; */
    top: 88%;
    left:58%;
}

.createModalButtons * {
  display: inline-block;
}

.createModalHeader {
    float: left;
    font-size: 24px;
}

.createModalCloseButton {
    float: right;
    border: none;
    background: none;
}

.createModalCloseButton:hover {
    opacity: 0.5;
}