.defaultButton {
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 7vw;
    height: 5vh;
    border: 2px solid black;
    border-radius: 5px;
}

.defaultButton:hover {
    border: 3px solid black;
}