.navBarArea {
	width: 100vw;
	height: 15vh;
	top: 0;
	background-color: white;
	position: fixed;
	z-index: 400;
}
.navBarWrapper {
	position: relative;
	display: flex;
	top: 3vh;
	left: 25vw;
	background-color: #d291bc;
	width: 50vw;
	height: 6vh;
	border-radius: 10vh;
}

.navBarContent {
	justify-content: center;
	margin: auto;
}

.navBarContent .athlete,
.navBarContent .sport {
	font-size: 24px;
	color: black;
	margin-top: 8px; /* isn't centering perfectly, but pretty close to it (on default laptop) */
}

.athlete {
	float: left;
	margin-right: 30px;
	text-decoration: none;
}

.athlete:hover {
	background-color: transparent;
	text-decoration: underline;
}

.sport {
	float: right;
	margin-left: 30px;
	text-decoration: none;
}

.sport:hover {
	background-color: transparent;
	text-decoration: underline;
}

.logo {
	top: -3vh;
	position: relative;
	width: calc(309px / 4);
	height: calc(424px / 4);
}

.logo:hover {
	filter: invert(32%) sepia(1%) saturate(2443%) hue-rotate(2deg) brightness(93%) contrast(85%);
}
